USE [master]
GO
/****** Object:  Database [TestLPS]    Script Date: 9/26/2023 4:59:25 PM ******/
CREATE DATABASE [TestLPS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestLPS', FILENAME = N'D:\Downloads\Test Lamaran Kerja\Test MSBU-LPS\Database\TestLPS.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TestLPS_log', FILENAME = N'D:\Downloads\Test Lamaran Kerja\Test MSBU-LPS\Database\TestLPS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestLPS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestLPS]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 9/26/2023 4:59:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nama_barang] [varchar](200) NOT NULL,
	[kode_barang] [varchar](50) NOT NULL,
	[jumlah_barang] [int] NOT NULL,
	[tanggal] [datetime] NOT NULL,
 CONSTRAINT [PK_Produk] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [nama_barang], [kode_barang], [jumlah_barang], [tanggal]) VALUES (1, N'CPU KOMPUTER', N'BK0001', 10, CAST(N'2023-09-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Product] ([id], [nama_barang], [kode_barang], [jumlah_barang], [tanggal]) VALUES (4, N'MOUSE', N'BK0002', 45, CAST(N'2023-09-26T00:00:00.000' AS DateTime))
INSERT [dbo].[Product] ([id], [nama_barang], [kode_barang], [jumlah_barang], [tanggal]) VALUES (14, N'KEYBOARD', N'BK0045', 56, CAST(N'2023-09-29T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
USE [master]
GO
